
<!--<ul class="list-group">-->

<!--  <li-->
<!--    (click)="selectModule(module)"-->
<!--    *ngFor="let module of modules" class="list-group-item"-->
<!--    [ngClass]="{'active': module.id == moduleId}">-->
<!--    {{module.title}}-->
<!--  </li>-->
<!--</ul>-->


<div class='container-fluid'>
  <div class='list-group'>
  <div class='list-group-item' *ngFor="let module of modules"
       [ngClass]="{'active': module.id == moduleId}">
    <div class='row'>
      <div class='col-10'  (click)="selectModule(module)">
        {{module.title}}
      </div>
      <div class='col-2'>
        <i class="fa fa-trash float-right"></i>
      </div>
    </div>
  </div>
</div>
</div>
